.search-container {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center the content horizontally */
  color:white;
  
 
 
   
}
#resetBtn {
  background-color: black;
  color: white;
  border: 1px solid #333333;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

#resetBtn:hover {
  background-color: #333333;
  color: red;
}


.searchResultsContainer{
  
  flex-direction: column;
  align-items: center;
  color: #000000;
  background-color: rgba(255, 255, 255, 0.8); 
  padding: 10px;
  border-radius: 4px;
  margin-top: 10px;
  display: none;
}
.searchResultsContainer.show {
  display: flex;
}
.dropdown-container {
  /* display: flex; */
  flex-direction: column;
  align-items: center;
  color: #000000;
  /* display:none; */
}

.searchResultsContainer p {
  background-color: #F0F0F0; /* Add desired background color for search results */
  padding: 5px;
  border-radius: 4px;
}
.form-control {
  color: black;
  font-style: initial;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  width: 470px;
  
 
}





.search-by {
  text-align: center;
  /* margin-bottom: 10px;  */
  color: #000000;
 
  
}



.radio-group {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.radio-group label {
  margin: 0 10px;
  cursor: pointer;
  font-size: 40px;
  font-weight: bold;
  color: red;
  font-family: 'Courier New', Courier, monospace;
}

.radio-group label:hover {
  color: black;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  
}

ul {
  list-style-type: none;
  padding-left: 0;
}

ul li {
  position: relative;
  padding-left: 20px;
  line-height: 1.5;
}

ul li::before {
  content: "";
  position: absolute;
  left: 0;
  top: 10px;
  width: 9px;
  height: 10px;
  background-color: white;
  border-radius: 50%;
}

ul li a {
  color: whitesmoke;
  text-decoration: none;
  font-weight: 900;
}

ul li a:hover {
  color: lightblue;
}

.text-align {
  font-weight: bold;
  color: aliceblue;
  background-color: #000000;
}

/* Radio buttons */
input[type="radio"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid red;
  outline: none;
  cursor: pointer;
  margin-right: 5px;
}

input[type="radio"]:checked {
  background-color: white;
}



/* Style dropdown when focused */
.form-control:focus {
  border-color: red;
  box-shadow: 0 0 0 2px rgba(3, 0, 0, 0.1);
  outline: none;
}

body {
  margin: 0;
  padding: 0;
  overflow-y: scroll; /* Allow vertical scrolling */
}

header {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  text-align: center;
}

header h1 {
  font-size: 28px;
  font-weight: bold;
  
}

header div {
  display: flex;
  justify-content: center;
}

header div h2 {
  margin: 0 10px;
}

.main-container {
  margin-top: 50px;
 
}


.background-image {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("./images/Screenshot\ 2023-05-24\ 115935.png");
  background-size: cover;
  z-index: -1; /*Position it behind other content/*
  pointer-events: none; /* Ignore pointer events on the background */
}

/* .container {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 0px;
  max-width: 500px;
  text-align: center;
  margin: 0 auto;
} */
